.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
.react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: rgb(227, 227, 227);
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}
  
.react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 1.2px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 45px;
    transition: 0.2s;
    background: white;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
  
.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
  
.react-switch-label:active .react-switch-button {
    width: 30px;
}
.react-switch-checkbox:checked + .react-switch-label {
    background: rgb(191, 191, 191);
}

@media screen and (max-width: 600px) {
    
}